
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    font-weight: normal;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.header__name {
    font-size: 36px;
}

.header__career {
    font-size: 24px;
}

.header__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 20px;
}


.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.main__left {
    flex-basis: 30%;
    margin-right: 20px;
}

.left__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.left__content {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.main__right {
    flex-basis: 68%;
}

.right__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.right__list {
    margin-bottom: 20px;
}

.right__item {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
}


.form {
    padding: 20px;
    background-color:#e4c5c5;
}

.form__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.form__content {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
}

input, textarea {
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
}

input[type="submit"] {
    font-size: 16px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 80px;
}

input[type="submit"]:hover {
    background-color: #555;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.footer__logo {
    max-width: 100%;
}

.footer__content {
    font-size: 16px;
}
